table.form {
	width: 100%;
	border: 1px solid;
	border-collapse: collapse;
	border-color: #808080;
}
table.form tr {
	border-top: 1px solid;
	border-bottom: 1px solid;
	vertical-align: center;
	height: 8ex;
}
table.form th, td {
	border: 1px solid;
}
table.form th {
	width: 8em;
	padding-left: 3em;
	padding-right: .5em;
	background: #eeffcc;
}
table.form td {
	padding-left: 1.5em;
	padding-right: 1ex;
	background: #cceeff;
}
table.form input {
	width: 40%;
	padding: 0.5em .5ex;
	max-width: 20em;
}
td.submit {
	background: #ddffee;
	text-align: center;
}
*.error {
	color: #ff0000;
	margin-left: 1.5em;
}