table.form {
	width: 100%;
	border: 1px solid;
	border-collapse: collapse;
	border-color: #808080;
}
table.form tr {
	border-top: 1px solid;
	border-bottom: 1px solid;
	vertical-align: center;
	height: 8ex;
}
table.form th, td {
	border: 1px solid;
}
table.form th {
	width: 8em;
	padding-left: 3em;
	padding-right: .5em;
	background: #eeffcc;
}
table.form td {
	padding: 1ex 1.5em;
	background: #cceeff;
}
table.form input,select {
	margin: 1ex .5em;
}
table.form input[type=text,password] {
	width: 40%;
	max-width: 20em;
	padding: 0.5em .5ex;
}
td.submit {
	background: #ddffee;
	text-align: center;
}
*.error {
	color: #ff0000;
	margin-left: 1.5em;
}
*.name_preview {
	font-weight: bolder;
	font-size: 100%;
	float: left;
	margin-left: 1.5em;
}
*.name_preview *.type {
	font-size: 80%;
}
div.name_input {
	clear: both;
}